<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My dev.to</title>
    </head>
    <body>
        <p>
        <a id='login' href="https://github.com/login/oauth/authorize?client_id={{.GithubID}}">
            Login
        </a>
        </p>
        <p>
        <a href="/api">API</a>
        </p>

        <script src='static/app.js'></script>
    </body>
</html>
